body{
text-align: center;
color:white;
font-size: 40px;
background-image: url(../assets/Luck.jpg);
background-size:1375px 700px;
}
#button{
	
}

#display{
	height: 100px;
	background-color: white;
	color: black;
}